<!-- intro -->
<div id="h">
    <div class="logo">
    <h2>NG2 Test Site</h2>
    </div><!--/logo-->
    <div class="container centered">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
        <h1>Hello, my name is <b>Clint Losee</b>.<br/>I create the web.</h1>
        </div>
    </div><!--/row-->

    <div class="row mt">
        <div class="col-sm-4">
        <i class="ion-ios7-monitor-outline"></i>
        <h3>Web Development</h3>
        </div><!--/col-md-4-->

        <div class="col-sm-4">
        <i class="ion-ios7-browsers-outline"></i>
        <h3>UI/UX Development</h3>
        </div><!--/col-md-4-->

        <div class="col-sm-4">
        <i class="ion-iphone"></i>
        <h3>Mobile Development</h3>
        </div><!--/col-md-4-->
    
    </div><!--/row-->
    </div><!--/container-->
</div><!--H-->