<!-- clients -->
<div class="container mt">
    <div class="row clients centered">
        <p class="mb">Some clients that I had the pleasure to working for.</p>
        <div class="col-sm-2 col-sm-offset-1">
        <img src="assets/img/client1.png" alt="">
        </div>
        <div class="col-sm-2">
        <img src="assets/img/client3.png" alt="">
        </div>
        <div class="col-sm-2">
        <img src="assets/img/client2.png" alt="">
        </div>
        <div class="col-sm-2">
        <img src="assets/img/client4.png" alt="">
        </div>
        <div class="col-sm-2">
        <img src="assets/img/client5.png" alt="">
        </div>
    </div><!--/row-->
    </div><!--/container-->