<!-- description -->
<div class="container ptb">
    <div class="row">
    <h2 class="centered mb">I craft handsome sites & stunning apps<br/>that empower your startup.</h2>
    <div class="col-md-6">
        <p>Bacon ipsum dolor amet pork chop meatloaf spare ribs pork belly leberkas. Pork andouille pancetta meatball leberkas shoulder. Andouille brisket pig picanha capicola. Porchetta filet mignon tenderloin ribeye tongue pancetta spare ribs.</p>
    </div><!--/col-md-6-->
    <div class="col-md-6">
        <p>Capicola chicken ball tip beef ribs cupim prosciutto leberkas landjaeger. Salami pork chop doner, swine tail tri-tip frankfurter ham hock beef ribs picanha turducken pork loin spare ribs drumstick. Shoulder pancetta kevin, t-bone short loin tri-tip rump. Hamburger short loin.</p>
    </div><!--/col-md-6-->
    </div><!--/row-->
</div><!-- /.container -->
<div class="container">
    <div class="row">
    <div class="col-md-10 col-md-offset-1">
        <img src="assets/img/items.png" class="img-responsive" alt="">
    </div>
    </div><!--/row-->
</div><!--/.container-->