<!-- portfolio-item -->
<div class="portfolio-item {{portfolioClass}}">
    <div class="he-wrap tpl6">
    <img src="{{imgUrl}}" class="img-responsive" alt="">
    <div class="he-view">
        <div class="bg a0" data-animate="fadeIn">
        <h3 class="a1" data-animate="fadeInDown">{{title}}</h3>
        <a data-rel="prettyPhoto" href="{{imgUrl}}" class="dmbutton a2" data-animate="fadeInUp"><i class="ion-search"></i></a>
        <a href="single-project.html" class="dmbutton a2" data-animate="fadeInUp"><i class="ion-link"></i></a>
        </div><!-- he bg -->
    </div><!-- he view -->    
    </div><!-- he wrap -->
</div><!-- end col-12 -->